/*****
 * TABLE OF CONTENTS
 *
 * Font Families
 *    - Google Fonts
 *
 *****/

/*------------------------------------*\
    #Via Google Fonts
\*------------------------------------*/

$ab: 'Abril Fatface', cursive;
$alg: 'Alegreya', serif;
$code: 'Lato', sans-serif;
$oz: 'Oswald', sans-serif;
